* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
audio,
canvas,
img,
svg,
video {
  vertical-align: middle;
}
html {
  font-size: 62.5%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.img-circle {
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.browsehappy {
  background: #ccc;
  color: #000;
  margin: 0.2em 0;
  padding: 0.2em 0;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0px;
}
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@import url("http://fonts.googleapis.com/css?family=Raleway");
body {
  color: #9d9d9d;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
}
ul,
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
h1 {
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  padding-left: 2.5em;
}
.headerBlock {
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
}
.headerBlock__top {
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  margin: auto;
  max-width: 1170px;
  padding: 0.25em 0;
}
.headerBlock__top--left {
  display: inline-block;
  vertical-align: middle;
  width: 78%;
}
.headerBlock__top--right {
  display: inline-block;
  float: right;
  margin-right: 1em;
  vertical-align: middle;
  width: 11.4%;
}
.headerBlock__top--rightBuscador {
  background: #f8f8f8;
  width: 134px;
}
.headerBlock__top--rightBuscadorSearchForm {
  padding-left: 0.5em;
}
.headerBlock__top--rightBuscadorSearchFormIconSearch {
  background: url("img/header/iconSearch.png") no-repeat;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  background-size: 100%;
  border: none;
  height: 10px;
  margin-right: 0.2em;
  outline: 0;
  text-indent: -9999px;
  vertical-align: middle;
  width: 11px;
}
.headerBlock__top--rightBuscadorSearchFormSearchBox {
  background: none;
  border: 0;
  float: right;
  font-size: 12px;
  outline: 0;
  padding: 0.3em 0;
  width: 108px;
}
.headerBlock__bottom {
  height: 146px;
  margin: auto;
  max-width: 1170px;
}
.headerBlock__bottom--figure {
  background: #fff;
  border-bottom: solid 1px rgba(41,38,4,0.52);
  -webkit-box-shadow: 0px 2px 3px 0px rgba(41,38,4,0.52);
  box-shadow: 0px 2px 3px 0px rgba(41,38,4,0.52);
  display: inline-block;
  max-width: 218px;
  padding: 1.8em 0 0.1em;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 100%;
  z-index: 1;
}
.headerBlock__bottom--figureFigcaption {
  background: #e7d728;
  bottom: -23px;
  -webkit-box-shadow: inset 0 1px 1px 0px rgba(41,38,4,0.52), 0 2px 2px 0 rgba(41,38,4,0.52);
  box-shadow: inset 0 1px 1px 0px rgba(41,38,4,0.52), 0 2px 2px 0 rgba(41,38,4,0.52);
  color: #4d4706;
  float: left;
  padding: 0.2em 0;
  position: absolute;
  text-align: center;
  width: 218px;
  z-index: 2;
}
.headerBlock__bottom--figureFigcaption:before {
  background: #e7d728;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: -15px;
  content: "";
  cursor: pointer;
  height: 36px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  width: 36px;
  z-index: -1;
}
.headerBlock__bottom--figureFigcaption:after {
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  border-width: 0 6px 8px 6px;
  bottom: -8px;
  content: "";
  cursor: pointer;
  height: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 0;
  z-index: 3;
}
.headerBlock__bottom--figureFigcaption a {
  color: #4d4706;
}
.navBlock {
  background: #fff;
  border-bottom: 1px solid #dcdcdc;
  display: inline-block;
  margin-left: -3px;
  max-width: 951px;
  vertical-align: middle;
  width: 100%;
}
.navBlock__main {
  margin: 0;
  padding: 0;
}
.navBlock__mainItem {
  display: inline-block;
  height: 68px;
  padding: 1.5em 0.5em;
  position: relative;
  vertical-align: middle;
  width: 105px;
  cursor: pointer;
  text-align: center;
}
.navBlock__mainItem:nth-child(1) {
  width: 162px;
  padding-left: 1.5em;
}
.navBlock__mainItem:nth-child(2) {
  width: 170px;
}
.navBlock__mainItem:nth-child(3) {
  width: 180px;
}
.navBlock__mainItem:nth-child(4) {
  width: 140px;
}
.navBlock__mainItem:nth-child(5) {
  width: 130px;
}
.navBlock__mainItem:before {
  background: #dbcb19;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transition: top 0.3s;
  -moz-transition: top 0.3s;
  -o-transition: top 0.3s;
  -ms-transition: top 0.3s;
  transition: top 0.3s;
  width: 100%;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.navBlock__mainItem:hover:before {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  top: 97%;
}
.navBlock__main--link {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: #0b2973;
  line-height: 14px;
  font-size: 12px;
}
.slider__block {
  margin: auto;
  max-width: 1100px;
  position: relative;
  z-index: 1;
}
.slider__block:after {
  bottom: 9px;
  -webkit-box-shadow: 0 10px 6px #000;
  box-shadow: 0 10px 6px #000;
  content: "";
  height: 5px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 98%;
  z-index: 1;
}
.slider__block--figure {
  position: relative;
}
.slider__block--figureFigcaption {
  background: #fff;
  bottom: 10%;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(41,38,4,0.52);
  box-shadow: 0px 2px 3px 0px rgba(41,38,4,0.52);
  max-width: 298px;
  position: absolute;
  right: 5%;
  color: #00247d;
  text-align: center;
  text-transform: uppercase;
}
.slider__block--figureFigcaption:before {
  border-color: transparent #fff transparent transparent;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  content: "";
  left: -20px;
  position: absolute;
  top: 35px;
  width: 0;
  height: 0;
}
.slider__block--figureFigcaptionContent {
  display: table-cell;
  height: 160px;
  vertical-align: middle;
}
.slider__block--figureFigcaptionContentCenter {
  width: 80%;
  margin: auto;
}
.slider__block--figureFigcaptionContentCenterSmall {
  font-size: 18px;
  font-weight: bold;
}
.slider__block--figureFigcaptionContentCenterStrong {
  font-size: 24px;
  position: relative;
}
.slider__block--figureFigcaptionContentCenterStrong:after {
  border-bottom: solid 1px #dbcb19;
  bottom: -5px;
  content: "";
  left: -20%;
  position: absolute;
  right: 0;
  width: 140%;
}
.slider__block--figureFigcaptionContentCenterSpan {
  color: #222;
  display: block;
  font-size: 14px;
  margin-top: 12px;
  text-transform: none;
}
.section__home {
  background: #fff;
  margin: -3em auto auto;
  max-width: 1170px;
  padding-top: 4em;
  position: relative;
  z-index: 0;
}
.section__home:before {
  right: 100%;
}
.section__home:after {
  left: 100%;
}
.section__home--nav {
  max-width: 1100px;
  margin: auto;
}
.section__home--breacrumbs {
  display: inline-block;
  vertical-align: middle;
  width: 78%;
  margin-left: 3px;
}
.section__home--redes {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: 21%;
}
.section__home:before,
.section__home:after {
  background: #fff;
  bottom: 0;
  content: "";
  position: absolute;
  top: 0;
  width: 9999px;
}
.tree_category {
  display: inline-block;
  width: 41%;
  max-width: 465px;
  background: #dbcb19;
  vertical-align: top;
}
.block__body {
  display: inline-block;
  width: 52%;
  max-width: 600px;
  vertical-align: top;
  margin-left: 6em;
  line-height: 18px;
}
.block__body--title {
  margin: 0;
  font-weight: bold;
  color: #3859a2;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 0.6em;
}
.block__body--text {
  color: #12317f;
}
.block__body--textDestacado {
  color: #12317f;
  padding: 0.1em 0;
  border-top: solid 1px #aaa6a6;
  border-bottom: solid 1px #aaa6a6;
}
.block__body--texts {
  color: #6a6a6a;
}
.carousel_nav--tittle {
  text-transform: uppercase;
  color: #3859a2;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.carousel_nav--text {
  width: 70% !important;
}
.carousel_nav--text p {
  width: 60% !important;
  margin: auto;
  color: #222;
  line-height: 18px;
}
.carousel__home--nav {
  border-top: 2px solid #d0d0d0;
  height: 152px;
  margin: auto;
  max-width: 1170px;
  padding-top: 2.5em;
  position: relative;
  text-align: center;
  top: 195px;
}
.carousel__home--list {
  display: inline-block;
  height: 129px;
  position: relative;
  vertical-align: top;
  width: 270px;
}
.carousel__home--list:before {
  background: #fff url("img/section/carousel/spriteIcons.png") no-repeat left bottom;
  content: "";
  cursor: pointer;
  height: 129px;
  left: 0;
  position: absolute;
  width: 77px;
}
.carousel__home--list:nth-child(1):before {
  background-position: 0 0;
}
.carousel__home--list:nth-child(2):before {
  background-position: -77px 0;
}
.carousel__home--list:nth-child(3):before {
  background-position: -151px 0;
}
.carousel__home--list:nth-child(4):before {
  background-position: -231px 0;
}
.carousel__home--list:nth-child(2) .carousel__home--item {
  font-size: 27px;
}
.carousel__home--list:nth-child(2) .caroulsel__home--strong {
  font-size: 18px;
}
.carousel__home--list:nth-child(n + 3) .carousel__home--item {
  font-size: 20px;
}
.carousel__home--list.mi-selected .carousel__home--item:before {
  top: -35px;
  left: 90px;
  border-top-color: #d0d0d0 !important;
  border-width: 20px;
}
.carousel__home--list.mi-selected .carousel__home--item:after {
  top: -37px;
  left: 91px;
  border-top-color: #fff !important;
  border-width: 19px;
}
.carousel__home--list:nth-child(1) .caroulsel__home--strong {
  font-size: 28px;
}
.carousel__home--item {
  color: #3859a2;
  display: table-cell;
  font-size: 22px;
  font-weight: bold;
  height: 129px;
  line-height: 22px;
  outline: none;
  padding: 0 0 32px 80px;
  text-align: left;
  text-transform: uppercase;
  vertical-align: middle;
}
.carousel__home--list.mi-selected .carousel__home--item:after,
.carousel__home--list.mi-selected .carousel__home--item:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}
.caroulsel__home--span {
  text-transform: none;
  color: #00247d;
  font-size: 20px;
  padding-right: 2px;
}
.caroulsel__home--strong {
  color: #00247d;
  font-size: 24px;
}
.mi-slider {
  position: relative;
  margin-top: 30px;
  height: 362px;
}
.mi-slider ul {
  list-style-type: none;
  position: absolute;
  width: 100%;
  left: 0;
  overflow: hidden;
  text-align: center;
  pointer-events: none;
  margin: 0;
  padding: 0;
}
.mi-slider ul.mi-current {
  pointer-events: auto;
}
.mi-slider ul li {
  display: inline-block;
  padding: 0 20px;
  -webkit-transform: translateX(600%);
  -webkit-transform: translateX(600%);
  -moz-transform: translateX(600%);
  -o-transform: translateX(600%);
  -ms-transform: translateX(600%);
  transform: translateX(600%);
  -webkit-transition: opacity 0.2s linear;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  vertical-align: middle;
}
.mi-slider ul li a {
  outline: none;
  cursor: pointer;
}
.mi-slider ul li img {
  border: none;
}
.mi-slider ul li a,
.mi-slider ul li img {
  display: block;
  margin: 0 auto;
}
.mi-slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
